@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lacquer&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Syne:wght@400..800&family=Yuji+Mai&display=swap');

@mixin btn {

    margin-top: 2rem;
    padding: 1rem;
    background-color: #000000;
    color: #FDFBF5;
    text-transform: uppercase;
    border-radius: .5rem;
    width: fit-content;

}


@mixin light-weight-font {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    // text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Syne", sans-serif;
    font-weight: 500;
    padding: 1rem;
    background-color: #FDFBF5;


}

main {
    width: 100%;
    // height: 100%;
    padding: 1.5rem;
    border: 1px solid black;


}

.view-1 {
    width: 100%;
    margin-top: 5rem;
    // height: 100%;
    display: flex;
    flex-direction: column;

    p {
        @include light-weight-font()
    }

    h1 {
        font-size: 4rem;
        font-weight: 500;
        width: 70%;
        line-height: 4rem;
        margin-top: 1rem;

    }

    img {
        width: 100%;
        margin-top: 3rem;
        border-radius: 1rem;


    }
}

.view-2 {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;

    .top {
        width: 100%;
        display: flex;
        flex-direction: column;
        // gap: 2rem;


        p {
            @include light-weight-font()
        }

        h1 {
            width: 90%;
            font-size: 3rem;
            font-weight: 500;
            line-height: 3rem;
            // margin-top: 1rem;

        }

        button {
            @include btn()
        }


    }

    .line {
        // width: 100%;
        height: 1px;
        background-color: #000000;
        // margin: 0 1rem;
    }

    .bottom {
        display: flex;
        flex-direction: column;

        gap: 2rem;

        .elem {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            svg {
                width: 4rem;
                aspect-ratio: 1/1;
            }

            h1 {
                font-size: 2.5rem;
                font-weight: 400;
            }

            p {
                @include light-weight-font()
            }
        }

    }


}

.view-3 {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;

    .line {
        // width: 100%;
        height: 1px;
        background-color: #000000;
        // margin: 0 1rem;
    }

    .top {
        width: 100%;
        // background-color: #fff;

        h1 {
            width: 90%;
            font-size: 3rem;
            font-weight: 500;
            line-height: 3rem;
            margin-bottom: 1rem;
        }

        p {
            @include light-weight-font()
        }

    }

    .bottom {
        width: 100%;
        // background-color: aqua;

        .elem {
            width: 100%;

            video {
                width: 100%;
                border-radius: 1rem;
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            h2 {
                // padding: 1rem 0 1rem 0;
            }

            p {
                @include light-weight-font()
            }
        }


    }

}

.view-4 {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;

    svg {
        width: 4rem;
        aspect-ratio: 1/1;
    }

    .top {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;


        p {
            @include light-weight-font()
        }

        h1 {
            width: 100%;
            font-size: 3rem;
            font-weight: 500;
            line-height: 3rem;
            text-transform: uppercase;
            // margin-top: 1rem;

        }
    }

    .bottom {
        width: 100%;

        p {
            @include light-weight-font()
        }

        button{
            @include btn()
        }
    }
}



@media (min-width:1020px) {


    main {
        padding: 3rem;
    }

    .view-1 {


        h1 {
            font-size: 6rem;
            line-height: 6rem;
        }
    }

    .view-2 {
        flex-direction: row;
        padding-bottom: 3rem;

        .top {
            width: 65%;
            justify-content: space-between;

            .text {
                width: 100%;
            }

            h1 {
                margin-top: 1rem;
                width: 100%;
                font-size: 5rem;
                line-height: 5rem;
            }
        }

        .line {
            width: 1px;
            height: initial;
        }

        .bottom {
            width: 35%;

            .line {
                width: 100%;
                height: 1px;
                align-self: stretch;
            }
        }
    }

    .view-3 {
        flex-direction: row;

        .line {
            width: 1px;
            height: initial;
        }

        .top {
            width: 35%;

            .sticky-elem{
                position: sticky;
                top: 2rem;
            }
        }

        .bottom {
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;

            .inner-top {
                width: 50%;
                margin: 1rem;
            }

            .inner-bottom {
                width: 50%;
                margin: 1rem;
            }
        }


    }

    .view-4{
        flex-direction: row;    

        svg{
            display: none;
        }
        
    }


}