:root{
    --pri:#F8F4E1;
    --sec:#3b1d09;
    --tri1:#FEBA17;
    --tri2:#74512D;

}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Aeonik/AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./Aeonik/AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./Aeonik/AeonikTRIAL-Bold.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    
}

.elem{
    background-color: var(--tri1);
    // padding: 30px 40px;
    height: 350px;
    width: 250px;
    font-size: 15px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 3%;
    right: 5%;
    font-weight: 500;
}

.elem:active{
    scale: 0.97
}


.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    font-size: 60px;
    display: none;
}